.task-item {
    width: 90%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 4em;
    margin: 0.4rem 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: #11111b;
    color: white;
    font-weight: 700;
    border-radius: 10px;
  }
  
  .task-item .item-check {
    /* background: rgba(55, 218, 149,0.2); */
    border-radius: 50%;
    border: 4px #37da95 solid;
    background: rgba(255,255,255, 0.1);
    width: 2.5em;
    height: 2.5em;
    cursor:pointer;
  }

  .task-item .item-check:hover {
    background: rgba(55, 218, 149,0.6);
  }
  
  .task-item .item-check--active {
    background: #37da95;
    width: 2.5em;
    height: 2.5em;
    border: none;
    cursor:auto;
  }

  .task-item .item-check--active:hover {
    background: #37da95;
  }
  
  .task-item .item-tetxt {
    width: 70%;
  }

  .task-item .item-tetxt--active {
    text-decoration:line-through;
  }
  
  .task-item .item-close{
    background: rgba(204, 51, 51,0.3);
    color: white;
    font-weight: 700;
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    border: none;
    cursor: pointer;
  }
  
  .task-item .item-close:hover {
    background: #cc3333;
    
  }