.task-filter {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
  }
  
  .task-filter input {
    width: 87%;
    height: 3.5em;
    border-radius: 10px;
    border: 1px solid #37da95;
    text-indent: 1em;
    font-style: italic;
    background-color: rgba(55, 218, 149,0.2);
    color: white;
    font-weight: 700;
  }
  
  .task-filter input:focus {
    outline-color: rgba(55, 218, 149,0.7);
  }
  